/* make h1 text pink */
h1 {
    color: pink;
}

/* 
3e744d
072a11
234830
232a28
*/

body {
    background-color: #131313;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.main-container {
    background-color: #1e1e1e;
    margin: 20px 10px;
    padding: 0 5px;
    border-radius: 2px;
    height: 95vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.panel {
    background-color: #393939;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    margin: 10px;
    padding: 20px;
    width: 30%;
    max-height: 80%;
}

/* using after to create a decorative line beneath this */
.trend-container h2 {
    color: #e9e9e9;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.025rem;
    margin: 0 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.trend-container h2:after {
    content: "";
    display: block;
    border-bottom: 1px solid #606060;
}

.feed {
    background-color: #303030;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    margin: 10px 0;
    padding: 12px 8px;
    width: 100%;
    overflow: scroll;
}

.post[class~="first"] {
    border-radius: 10px 10px 0 0;
}

.post[class~="last"] {
    border-radius: 0 0 10px 10px;
    border-bottom: #fff 0px solid;
}



.post {
    background-color: #464646;
    /* border: 1px solid #ddd; */

    border-bottom: #606060 1px solid;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    padding: 0 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.post h2 {
    grid-area: 1 / 3 / 2 / 4;
    max-width: 90%;
    width: 20rem;
    text-wrap: nowrap;
    max-height: 1%;
    text-align: right;
    font-size: larger;
    font-weight: 900;
    letter-spacing: 0.025rem;
    color: #e9e9e9;
    cursor: pointer;
}

.post .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    row-gap: 5px;
}

.soundplayer {
    display: flex;
    background-color: #b9b9b9;
    width: 32rem;
    height: auto;
    padding: 30px 10px;
    border-radius: 20px;
    align-items: center;
    position: relative;
}

.soundplayer .play {
    background-color: #fffffff2;
    border-radius: 50%;
    border: #072a11;
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 0 40px;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.407);
    cursor: pointer;
}

.soundplayer .time {
    color: rgba(223, 223, 223, 0.897);
    background-color: #3d3d3d81;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 3px;
    border-radius: 2px;
    position: absolute;
    right: 5rem;
}
    
.author {
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.author img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.author .follow {
    background-color: #5682b1;
    border: 1px solid #659beb;
    color: #2eccfc;
    cursor: pointer;
    border-radius: 8px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    color: #ffffffc3;
    cursor: pointer;
    font-size: 14px;
    margin: 0 8px;
    padding: 4px 12px;

    transition-property: all;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;

}

.author .follow:hover {
    background-color: #1c67b8;
    border: #318df0 1px solid;
    color: #e3fcff;
    /* font-weight: 600; */
}

.author h4 {
    margin: 0 0 0 10px;
    text-align: center;
    font-size: medium;
    font-weight: 800;
    color: #d8d8d8;
    text-wrap: nowrap;
}

.description {
    background-color: #2828284f;
    border-radius: 8px;
    padding: 5px 5px;
    color: #cfcfcf;
    font-weight: 300;
    font-size: medium;
    text-wrap: wrap;
    width: 35rem;
    min-height: 1rem;
}

.tags span {
    /* background-color: #595959; */
    /* color: #b3b3b3; */
    border-radius: 50px;
    padding: 2px 5px;

    background-color: #343434;
    color: #858585;

    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    border: #404040 1px solid;

}

.tags span:hover {
    background-color: #2e3944;
    border: #5f6468 1px solid;
    color: #dde2e3;
}

.content {
    grid-area: 2 / 1 / 4 / 4; 
    background-color: #424242;
    border-radius: 4px;
    padding: 5px 0px;
}

.interacts {
    grid-area: 4 / 1 / 5 / 4;
    padding: 0 20px;
    display: flex;
}

.interacts button {
    background-color: #64646400;
    border: 1px solid #dddddd00;
    border-radius: 15px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    color: #ffffffc3;
    cursor: pointer;
    font-size: 14px;

    margin: 0 5px;
    width: 4rem;
}

.tags[class~="side"] {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags[class~="side"] span {
    background-color: #324c8d;
    color: hsl(219, 93%, 82%);
    border: #2a6aaf 1px solid;
}

.tags[class~="side"] span:hover {
    background-color: #1c67b8;
    border: #318df0 1px solid;
    color: #e3fcff;
}

.explore {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.interacts button[class~="download"] {
    /* todo: fix this */
    padding: 2px 0px;
}

.interacts button[class~="like"] {
    padding: 2px 5px;
}

