body {
    background-color: #121112;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.main-container {
    background-color: #131118;
    margin: 20px 10px;
    padding: 0 5px;
    border-radius: 2px;
    height: 95vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.panel {
    background-color: #1d1823;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 30%;
    max-height: 80%;
    overflow: hidden;
}

/* using after to create a decorative line beneath this */
.trend-container h2 {
    color: #e8e7e5;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -0.025rem;
    margin: 0 0 1rem 0;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    display: inline-block;
    font-family: "Atkinson Hyperlegible", sans-serif;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: -0.025rem;
    user-select: none;
}

.trend-container h2:after {
    content: "";
    display: block;
    border-bottom: 1px solid #606060;
}

.feed {
    background-color: #7426f200;
    border-radius: 5px;
    margin: 10px 0;
    padding: 12px 8px;
    width: 100%;
    overflow-y: scroll;
}

.post[class~="first"] {
    border-radius: 10px 10px 0 0;
}

.post[class~="last"] {
    border-radius: 0 0 10px 10px;
    border-bottom: #fff 0px solid;
}

.post {
    background-color: #262427;

    border-bottom: #17142028 5px solid;
    padding: 0 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 0.4rem;
}

.post h2 {
    grid-area: 1 / 3 / 2 / 4;
    max-width: 90%;
    width: 20rem;
    text-wrap: nowrap;
    max-height: 1%;
    text-align: right;
    font-size: 1.35rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 900;
    letter-spacing: -0.025rem;
    line-height: 1.35rem;
    color: #f8ece9;
    cursor: pointer;
}

.post .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    row-gap: 5px;
}

.soundplayer {
    display: flex;
    background-color: #b9b9b9;
    width: 32rem;
    height: auto;
    padding: 30px 10px;
    border-radius: 20px;
    align-items: center;
    position: relative;
}

.soundplayer .play {
    background-color: #fffffff2;
    border-radius: 50%;
    border: #072a11;
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 0 40px;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.407);
    cursor: pointer;
}

.soundplayer .time {
    color: rgba(223, 223, 223, 0.897);
    background-color: #3d3d3d81;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 3px;
    border-radius: 2px;
    position: absolute;
    right: 5rem;
}

.author {
/* border: 1px solid #ddd; */
/* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 10;
/* background-color: #bababa; */
/* border-radius: 5px; */
}

/* .author:before {
background-color: #bababa00;
border-radius: 5px;
content: "";
height: 130%;
left: -5%;
position: absolute;
top: 0;
width: 80%;
z-index: -1;

transition-property: all;
transition-duration: 0.1s;
transition-timing-function: ease-in-out;
} */

/* .author:hover:before {
background-color: #f5f5f5;
} */

/* .author:hover .follow { */
/* background-color: #1c67b8;
border: #318df0 1px solid;
color: #e3fcff; */
/* font-weight: 600; */
/* display: block; */
/* } */

.author img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.407);
}

/* .author:hover img {
    border: #000 2px solid;
} */

.author .follow {
    background-color: #4b2e83;
    border: 1px solid #917b4c;
    color: rgb(190, 173, 98);
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.02rem;
    margin: 0 8px;
    padding: 3px 7px;

    transition-property: all;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
}

.author .follow:hover {
    background-color: #33006f;
    border: 1px solid #b7a57a;
    /* font-weight: 600; */
}

.author h4 {
    margin: 0 0 0 10px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    letter-spacing: -0.025rem;

    color: #d8d8d8;
    text-wrap: nowrap;

    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    cursor: pointer;
}

/* .author:hover h4 {
    color: #000;
} */

.description {
    background-image: linear-gradient(to bottom, #07010c32, #0d001800 70%);
    border-radius: 4px;
    padding: 5px 5px;
    color: #e4e4e4a5;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    letter-spacing: -0.01rem;
    font-size: medium;
    text-wrap: wrap;
    width: 35rem;
    min-height: 1rem;
}

.tags span {
    /* background-color: #595959; */
    /* color: #b3b3b3; */
    border-radius: 4px;
    padding: 2px 5px;

    background-color: #343434;
    color: #dfcdee;

    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    border: #dfcdee71 1px solid;
    font-size: 0.85rem;
    letter-spacing: -0.025rem;
}

.tags span:before {
    content: "#";
    font-size: 0.85rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.tags span:hover {
    background-color: #8a6d9ee5;
    border: #ab93c5 1px solid;
    color: #dde2e3;
    text-decoration-line: underline;
    filter: drop-shadow(0 2px 5px hsla(273, 49%, 87%, 0.6));
}

.content:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: -2px 0 10px 0;
    /* gradient color */
    background: linear-gradient(to right, #e7db9a00, #fde492b5 50%, #fde492b5 50%, #e7db9a00);
}

.content {
    grid-area: 2 / 1 / 4 / 4;
    /* background-color: #424242; */
    border-radius: 4px;
    padding: 5px 0px;
}

.interacts {
    grid-area: 4 / 1 / 5 / 4;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.interacts button {
    background-color: #64646400;
    border: 1px solid #dddddd00;
    border-radius: 15px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    color: #ffffffc3;
    cursor: pointer;
    font-size: 14px;

    margin: 0 5px;
    width: 4rem;
}

.tags {
    user-select: none;
}

.tags[class~="side"] {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags[class~="side"] span {
    background-color: hsl(259, 44%, 81%);
    color: hsl(269, 67%, 13%);
    font-weight: 500;
    border: #c2a9f0 1px solid;
}

.tags[class~="side"] span:hover {
    background-color: #8d659f;
    border: #2a073f 1px solid;
    color: #efe3ff;
    filter: drop-shadow(0 2px 5px hsla(265, 84%, 60%, 0.45));
}

.explore {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.interacts {
    user-select: none;
}

.interacts a[class~="download"] {
    /* todo: fix this */
    padding: 2px 5px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: 1.5rem;
    color: #fffbfc;
    text-decoration: none;
    display: flex;
    gap: 0.15rem;
    align-items: center;
}

.interacts a[class~="download"] img {
    height: 1rem;
    width: 1rem;
    filter: invert(100%);
}

.interacts a[class~="like"] {
    padding: 2px 5px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: 1.5rem;
    color: #de91a4;
    text-decoration: none;
    display: flex;
    gap: 0.15rem;
    align-items: center;
}

.interacts a[class~="like"] img {
    height: 1rem;
    width: 1rem;
    filter: invert(72%) sepia(55%) saturate(547%) hue-rotate(298deg) brightness(95%) contrast(82%);
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.upload-form {
    border-radius: 5px;
    background-color: #514e54;
    color: #e9e9e9;
    /* font-size: 1.5rem; */
    /* font-weight: 900; */
    /* letter-spacing: 0.025rem; */
    margin: 0 0 1rem 0;
    text-align: center;
    /* text-transform: uppercase; */
    position: relative;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    padding: 10px 0;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    font-family: "Atkinson Hyperlegible", sans-serif;

}

.upload-form p {
    margin: 0;
    padding: 0 0 0 0.5rem;
    text-align: center;
    background-color: #2c2c2d20;
    border-radius: 3px;
    /* border: #555555 1px solid; */
    overflow: hidden;
    font-size: small;
    font-weight: 300;
    color: #e9e9e9;
}

.upload-form input {
    background-color: #222222db;
    border: 0;
    /* border-left: 1px solid #606060; */
    border-bottom: #454537 1px solid;
    border-radius: 1px;
    color: #e9e9e9;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px 10px;
}

.upload-form input:focus {
    outline: none;
}

.upload-form .submit {
    /* width: 75%; */
    border: #e5e0d9bc 1px solid;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    text-transform: lowercase;
    font-style: italic;
    /* margin-top: 0.5rem; */
    grid-area: 4 / 7 / 5 / 9;
    cursor: pointer;
}

.upload-form .submit:hover {
    background-color: #d9d8b01a;
    border: #e5e0d9 1px solid;
}

.upload-form .file-box {
    border: 0;
    /* width: 75%; */
    grid-area: 2 / 1 / 4 / 3;
}

/* TODO: finish styling the uploading box */
/* TODO: add categories coloring */
/* TODO: visual polish */
/* TODO: better scroll */

.upload-form .desc-box {
    grid-area: 2 / 3 / 4 / 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    font-size: 1rem;
}

.upload-form .desc-box input {
    background-color: #222222db;
    border: 0;
    /* border-left: 1px solid #606060; */
    border-bottom: #454537 1px solid;
    border-radius: 1px;
    color: #e9e9e9;
    font-size: 1rem;
    font-weight: 300;
    resize: none;
    width: 96%;
    height: 40%;
    text-wrap: wrap;
    overflow-y: scroll;
}

.upload-form .author-box {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.upload-form .author-box input {
    border-left: 1px solid #606060;
}

.upload-form .title-box {
    grid-area: 1 / 4 / 2 / 9;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.upload-form .title-box input {
    width: 80%;
}

.upload-form .genre-box {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.upload-form .genre-box input {
    width: 65%;
}

.upload-form .tag-box {
    grid-area: 4 / 3 / 5 / 7;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.upload-form .tag-box input {
    width: 85%;
}